/**
 * Default styles for the dygraphs charting library.
 */

 .graph-container {
  font-family: var(--sans);
  font-size-adjust: var(--scale-inter-to-source-serif);
  font-size: var(--font-size-s);
  font-variant-numeric: tabular-nums;
  width: 99% !important;
}

.dygraph-legend {
  position: absolute;
  z-index: 0;
  width: 200px;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-midgray);
  background-color: #ffffffcc;
  backdrop-filter: blur(20px);
  padding: var(--space-xs) var(--space-s);
  /* labelsDivWidth */
  /*
  dygraphs determines these based on the presence of chart labels.
  It might make more sense to create a wrapper div around the chart proper.
  top: 0px;
  right: 2px;
  */
  background: var(--color-legend-background);
  line-height: var(--base-line-height);
  text-align: left;
  overflow: hidden;
  color: var(--color-darkergray);
  font-weight: 500;
  font-size: var(--font-size-xs);
}

.x-data-line,
.y-data-line {
  display: flex;
  align-items: baseline;
  margin-left: var(--space-m);
}

.x-data-line.highlighted,
.y-data-line.highlighted {
  /* font-weight: bold; */
}

.x-data-line .legend-data ,
.y-data-line .legend-data {
  margin-left: auto;
}

.dygraph-legend-line {
  position: absolute;
  right: calc(0px + var(--space-m));
  width: var(--space-s);
  margin-right: calc(var(--space-s) - var(--space-m));
}

.dygraph-legend[dir="rtl"] {
  text-align: right;
}

/* styles for a solid line in the legend */
.dygraph-legend-line {
  display: inline-block;
  position: relative;
  bottom: .5ex;
  padding-left: 1em;
  height: 1px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  /* border-bottom-color is set based on the series color */
}

/* styles for a dashed line in the legend, e.g. when strokePattern is set */
.dygraph-legend-dash {
  display: inline-block;
  position: relative;
  bottom: .5ex;
  height: 1px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  /* border-bottom-color is set based on the series color */
  /* margin-right is set based on the stroke pattern */
  /* padding-left is set based on the stroke pattern */
}

.dygraph-roller {
  position: absolute;
  z-index: 1;
}

/* This class is shared by all annotations, including those with icons */
.dygraph-annotation {
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

/* This class only applies to annotations without icons */
/* Old class name: .dygraphDefaultAnnotation */
.dygraph-default-annotation {
  border: 1px solid black;
  background-color: white;
  text-align: center;
}

.dygraph-axis-label {
  /* position: absolute; */
  font-size: var(--font-size-s);
  z-index: 1;
  line-height: 1;
  overflow: hidden;
  color: var(--color-darkergray);
  font-weight: 500;
}

.dygraph-axis-label-x {
}

.dygraph-axis-label-y {
}

.dygraph-axis-label-y2 {
}

.dygraph-title {
  font-weight: bold;
  z-index: 10;
  font-size: var(--font-size-s);
}

.dygraph-xlabel {
  text-align: center;
  color: var(--color-darkergray);
  font-size: var(--font-size-s);
  font-weight: 500;
}

/* For y-axis label */
.dygraph-label-rotate-left {
  text-align: center;
  /* See http://caniuse.com/#feat=transforms2d */
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  font-size: var(--font-size-s);
  color: var(--color-darkergray);
  font-weight: 500;
}

/* For y2-axis label */
.dygraph-label-rotate-right {
  text-align: center;
  /* See http://caniuse.com/#feat=transforms2d */
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  font-size: var(--font-size-s);
  color: var(--color-darkergray);
  font-weight: 500;
}
