.hamburger {
    display: none;
    background-color: white;
}

.hamburger:hover {
    color: darkblue;
    background-color: lightskyblue;
    margin-bottom: 0px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.menu {
    position: fixed;
    transform: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    list-style: none;
    padding-top: 4rem;
    background-color: white;
    box-shadow: 1px 0px 20px lightgrey;
    /* border-right: 1px solid lightgray; */
    width: 20%;
}

@media (max-width: 600px) {
    .hamburger {
        display: inline-block;
        position: fixed;
        z-index: 100;
    }

    .menu {
        transform: translateX(-110%);
        transition: .4s cubic-bezier(0.05, 0.7, 0.1, 1.0);
        width: 50%;
        min-width: 300px;
    }

    .closeIcon {
        display: none;
    }

    .showMenu {
        transform: translateY(0);
    }
}