:root[color-mode="light"] {
  --color-code-kw: #d73a49;
  --color-code-fu: #6f42c1;
  --color-code-str: #005cc5;
  --color-code-num: #00bfbf;
  --color-code-op: #c15e68;
  --color-code-dt: #445588;
  --color-code-default: #363643;
  --color-code-com: #a6a6c5;
  --color-code-error: #cc1122;
  --color-code-warning: #c0b40f;
}

:root[color-mode="dark"] {
}


code {
  color: var(--color-code-default);
}

code span.al {
  color: var(--color-code-kw);
} /* Alert */
code span.an {
  color: var(--color-code-com);
  font-style: italic;
} /* Annotation */
code span.at {
  color: var(--color-code-default);
} /* Attribute */
code span.bn {
  color: var(--color-code-num);
} /* BaseN */
code span.bu {
  color: #0086B3
} /* BuiltIn */
code span.cf {
  color: var(--color-code-kw);
} /* ControlFlow */
code span.ch {
  color: var(--color-code-str);
} /* Char */
code span.cn {
  color: var(--color-code-num);
} /* Constant */
code span.co {
  color: var(--color-code-com);
  font-style: italic;
} /* Comment */
code span.cv {
  color: var(--color-code-com);
  font-style: italic
} /* CommentVar */
code span.do {
  font-style: italic
} /* Documentation */
code span.dt {
  color: var(--color-code-dt);
} /* DataType */
code span.dv {
  color: #009999;
} /* DecVal */
code span.er {
  color: var(--color-code-error);
  font-weight: bold;
} /* Error */
code span.ex {
} /* Extension */
code span.fl {
  color: #009999;
} /* Float */
code span.fu {
  color: var(--color-code-fu);
} /* Function */
code span.im {

} /* Import */
code span.in {
  color: var(--color-code-com);
  font-style: italic;
} /* Information */
code span.kw {
  color: var(--color-code-kw);
} /* Keyword */
code span.op {
  color: var(--color-code-op);
} /* Operator */
code span.ot {

} /* Other */
code span.pp {
  color: var(--color-code-dt);
  font-style: italic
} /* Preprocessor */
code span.sc {
  color: var(--color-code-kw)
} /* SpecialChar */
code span.ss {
  color: var(--color-code-kw);
} /* SpecialString */
code span.st {
  color: var(--color-code-str);
} /* String */
code span.va {
  color: var(--color-code-fu);
} /* Variable */
code span.vs {
  color: var(--color-code-str)
} /* VerbatimString */
code span.wa {
  color: var(--color-code-warning);
  font-weight: bold;
} /* Warning */